* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5e3bee;
  --secondary-color: #f5fcff;
  --text-color: #1c1e53;
}

@font-face {
  font-family: "roboto";
  src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

body {
  font-family: "roboto";
}

/* navbar */

.h-nav {
  width: 100% !important;
  padding: 1rem 5.333rem;
  background-color: white !important;
}

.h-ul {
  justify-content: space-around;
}

.h-ul li a {
  color: var(--text-color);
  font-size: 18px;
}

.btn-purple {
  border: 1.33px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5.33px;
}

.btn-media {
  display: none;
}

#link-purple a {
  color: var(--primary-color) !important;
}

/* Navbar End */
/* Hero Sec start */

.herosec {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 20px 50px;
}

.herosec span {
  color: var(--primary-color);
}

#name {
  font-size: 21.33px;
  font-weight: 600;
}

.herosec .lorem {
  padding-bottom: 21.33px;
}

.herosec button {
  background-color: var(--primary-color);
}

/* Hero Sec end */

/* Skills Sec start */

.text-one {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.text-two {
  font-size: 54px !important;
  font-weight: 700 !important;
}

.skills {
  padding-top: 6.25rem !important;
}

.cards {
  height: 90%;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 20px 10px;
}

.cards:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.cardimg {
  width: 80px;
  background-color: white;
  padding: 14px 10px !important;
  margin: 0px 0px 15px 10px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px !important;
}

.cardcontent {
  padding: 15px 10px !important;
}

/* Skills Sec end */

@media only screen and (max-width: 991px) {
  /* navbar */
  .h-nav {
    padding: 0.5rem 1rem !important;
    width: 100% !important;
  }
  .btn-purple {
    display: none !important;
  }
  .btn-media {
    display: block;
    border: 1.33px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5.33px;
  }
  /* hero section */
  .herosec {
    width: 100%;
    padding: 0.5rem 1rem !important;
  }
  /* Skills */
  .skills {
    padding: 2.5rem !important;
  }
  .text-two {
    font-size: 42px !important;
    font-weight: 700 !important;
  }
}
