* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5e3bee;
  --secondary-color: #f5fcff;
  --text-color: #1c1e53;
  --star-color: #006b69;
}

@font-face {
  font-family: "roboto";
  src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

body {
  font-family: "roboto";
}

/* navbar */

.h-nav {
  width: 100% !important;
  padding: 1rem 5.333rem;
  background-color: white !important;
}

.h-ul {
  justify-content: space-around;
}

.h-ul li a {
  color: var(--text-color);
  font-size: 18px;
}

.btn-purple {
  border: 1.33px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5.33px;
}

.btn-purple:hover {
  color: white;
  background-color: var(--primary-color);
}

.btn-media {
  display: none;
}

#link-purple a {
  color: var(--primary-color) !important;
}

/* Navbar End */
/* Hero Sec start */

.herosec {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 20px 50px;
}

.herosec span {
  color: var(--primary-color);
}

#name {
  font-size: 21.33px;
  font-weight: 600;
}

.herosec .lorem {
  padding-bottom: 21.33px;
}

.herosec button {
  background-color: var(--primary-color);
}

/* Hero Sec end */

/* Skills Sec start */

.text-one {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.text-two {
  font-size: 54px !important;
  font-weight: 700 !important;
  padding-bottom: 20px;
}

.skills {
  padding: 6.5rem !important;
}

.skill-cards {
  width: 90%;
  height: 90%;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 20px 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.skill-cards:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cardimg {
  width: 80px;
  background-color: white;
  padding: 14px 10px !important;
  margin: 0px 0px 15px 10px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px !important;
}

.cardcontent {
  padding: 15px 10px !important;
}

/* Skills Sec end */

/* About Sec start */

.aboutsec {
  padding: 3rem;
}

.about {
  display: flex !important;
  align-items: center !important;
  gap: 2rem;
  width: 100%;
}

.aboutimg {
  width: 45% !important;
}

.aboutcontent {
  width: 45% !important;
  padding-left: 30px;
}

/* About Sec end */

/* Project Sec start */
.projects {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  padding: 3rem 0px 6rem;
}

.my-projects {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 20px;
}

.card {
  width: 22% !important;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
}

.card a {
  color: black;
  text-decoration: underline;
}

.card a:hover {
  color: blue;
}

.card h5,
.testimonials h5 {
  font-weight: 700;
  font-size: 32px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.arrow {
  padding-top: 20px !important;
  transform: rotate(320deg);
}

.testimonial {
  padding: 6.5rem !important;
  background-color: var(--secondary-color);
}

.testimonial i {
  padding: 10px 0px 30px;
  color: var(--star-color);
}

.tes-row{
  display: flex;
  gap: 2.5rem;
}

.column {
  width: 30%;
  border: 1px solid var(--star-color);
  border-radius: 6px;
  padding: 15px 40px;
}

.avt {
  display: flex;
  gap: 1.5rem;
  padding: 15px 0px;
}

.avt-img img {
  border-radius: 50px;
}

/* Project Sec end */

@media only screen and (max-width: 991px) {
  /* Navbar */
  .h-nav {
    padding: 0.5rem 1rem !important;
    width: 100% !important;
  }
  .btn-purple {
    display: none !important;
  }
  .btn-media {
    display: block;
    border: 1.33px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5.33px;
  }
  .btn-media:hover {
    color: white;
    background-color: var(--primary-color);
  }
  /* Hero*/
  .herosec {
    width: 100%;
    padding: 0.5rem 1rem !important;
  }
  /* Skills */
  .skills {
    padding: 1.5rem 1rem !important;
  }
  .text-two {
    font-size: 42px !important;
    font-weight: 700 !important;
  }
  /* About */

  .about {
    gap: 0px !important;
    width: 100% !important;
    padding: 20px 0px !important;
  }
  .aboutimg {
    width: 100% !important;
  }

  .aboutcontent {
    width: 100% !important;
  }
  .aboutsec {
    padding: 1.5rem 1rem !important;
  }
  /* Project Sec */
  .projects {
    gap: 25px;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }
  .card {
    width: 100% !important;
  }
  /* testimonials */
  .testimonial {
    padding: 2.5rem !important;
  }
  .tes-row {
    flex-direction: column;
    gap: 1.5rem;
  }
  .column{
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width:1517px){
  .herosec {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 2rem !important;
}
.skills {
    padding: 3.5rem !important;
}
  .skill-cards {
    width: 100%;
    height: 90%;
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 20px 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}
.projects {
  gap: 3rem;
}
.card {
        width: 28% !important;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
        transition: transform 0.5s ease;
    }
.testimonial {
    padding: 3.5rem !important;
    background-color: var(--secondary-color);
}

}