* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5e3bee;
  --secondary-color: #f5fcff;
  --text-color: #1c1e53;
  --star-color: #006b69;
}

@font-face {
  font-family: "roboto";
  src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

body {
  font-family: "roboto";
}

/* navbar */

.web-nav{
  box-shadow: 0px 5.33px 80px 0px rgba(0, 0, 0, 0.1);
}

.web-nav button{
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.web-nav button:hover{
  background-color: var(--primary-color);
  color: white;
}

.hero{
  background-color: var(--secondary-color);
}

.hero span{
  color: var(--primary-color);
}

.hero button{
  background-color: var(--primary-color);
}

.hero button:hover{
  background-color: white !important;
  color: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
}

.skills h2{
  font-size: 48px;
  border-bottom: none !important;
}

.skills .image{
  background-color: white;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}

.exp{
  background-color: var(--secondary-color);
  gap: 20px;
  border-radius: 5px;
  height: 100%;
  transition: all 0.3s ease;
}

.exp:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
}

