* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5e3bee;
  --secondary-color: #f5fcff;
  --text-color: #1c1e53;
  --star-color: #006b69;
}

@font-face {
  font-family: "roboto";
  src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

body {
  font-family: "roboto";
}

/* navbar */
.web-nav {
  box-shadow: 0px 5.33px 80px 0px rgba(0, 0, 0, 0.1);
}

.web-nav .btn-purple {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.web-nav .btn-purple:hover {
  background-color: var(--primary-color);
  color: white;
}

.btn-media {
  display: none;
}

#home-purple{
  color: var(--primary-color);
}
/* hero */
.hero {
  background-color: var(--secondary-color);
}

.hero span {
  color: var(--primary-color);
}

.hero button {
  background-color: var(--primary-color);
}

.hero button:hover {
  background-color: white !important;
  color: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
}
/* skills */
h2 {
  font-size: 48px;
}

.skills .image {
  background-color: white;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}

.exp {
  background-color: var(--secondary-color);
  gap: 20px;
  border-radius: 5px;
  height: 100%;
  transition: all 0.3s ease;
}

.exp:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
}
/* peoject */
.project a {
  text-decoration-color: var(--primary-color);
  color: black;
}

.project i {
  transform: rotate(45deg);
  color: darkgreen;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
/* testimonial */
.test {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--star-color);
  border-radius: 5px;
  padding: 20px;
}

.stars {
  color: var(--star-color);
}

.test-img {
  display: flex;
  gap: 20px;
}

.test-img img {
  border-radius: 50px;
}

.select {
  padding: 0;
}

.contact input,
textarea,
select {
  border: 1px solid var(--primary-color) !important;
}

.contact button {
  background-color: var(--primary-color);
  color: white;
}

.contact button:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

@media screen and (max-width: 991px) {
  .btn-media {
    display: block;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  .btn-media:hover {
    background-color: var(--primary-color);
    color: white;
  }
  .btn-purple {
    display: none;
  }
}
