* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5e3bee;
  --secondary-color: #f5fcff;
  --text-color: #1c1e53;
}

@font-face {
  font-family: "roboto";
  src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

body {
  font-family: "roboto";
}

/* navbar */

.h-nav {
  padding: 1rem 5.333rem;
  background-color: white !important;
}

.h-ul {
  justify-content: space-around;
}

.h-ul li a {
  color: var(--text-color);
  font-size: 18px;
}

.btn-purple {
  border: 1.33px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5.33px;
}

.btn-media {
  display: none;
}

#link-purple a {
  color: var(--primary-color) !important;
}

/* Navbar End */
/* Hero Sec start */

.herosec{
  padding: 133.33px 85.33px;
  background-color: var(--secondary-color);
}
.herosec span{
  color: var(--primary-color);
}

#name{
  font-size: 21.33px;
  font-weight: 600;
}

.herosec .lorem{
  padding-bottom: 21.33px;
}


/* Hero Sec end */


@media only screen and (max-width: 991px) {
  body{
    background-color: red;
  }
  .h-nav {
    padding: 0.5rem 1rem !important;
  }
  .btn-purple {
    display: none !important;
  }
  .btn-media {
    display: block;
    border: 1.33px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5.33px;
  }

  .herosec{
    padding: 3rem !important;
    background-color: var(--secondary-color);
  }
}